<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>
</head>
<body>
  <p>Dear Sir,</p>
  <p>For the upcoming workshop at {{workshop_name}}, {{district}}, {{state}} on {{start_date}} - {{end_date}},
    we have got the following responses for Willingness and Unavailability .</p>

<table>
  <thead>
    <th>Workshop Venue</th>
    <th>Date</th>
    <th>District</th>
    <th>Responder</th>
    <th>Willingness/Unavailability</th>
    <th>Reason</th>
    <th>Approved/Rejected</th>
    <th>Approved/Rejected by</th>
  </thead>
  <tbody>
    {% for data in stat%}
    <tr>
      <td >{{workshop_name}}</td>
      <td >{{dte}}</td>
      <td >{{district}}</td>
      <td>
        {{data.responder}}
      </td>
      <td>
        {{data.willingness_or_unavailability}}
      </td>
      <td>
        {{data.reason}}
      </td>
      <td>{{data.approval_status}}</td>
      <td>{{data.approved_or_rejected_by}}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>
<p>
Please suggest a team for the workshop from the list below
</p>
    <table>
      <thead>
        <th>Responder</th>
        <th>Count</th>
        <th>Willingness/Unavailability</th>
      </thead>
      <tbody>
        {% for data in team%}
    <tr>
      <td>{{data.name}}</td>
      <td>{{data.count}}</td>
      <td>{{data.status}}</td>
    </tr>
    {%endfor%}
      </tbody>
    </table>
</body>
</html>
